node_modules
**/node_modules
!node_modules
dist
!dist/apps/server
apps/web
apps/web-e2e
apps/server-e2e
.git
.vscode
.idea
.env
*.log
*.cache
uploads
*.sqlite
*.test.ts
coverage
.nyc_output
.DS_Store
*.tgz
*.tar.gz
.cache
.parcel-cache
.next
.nuxt
.vuepress/dist
.serverless
.fusebox/
.dynamodb/
.tern-port
.vscode-test
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
